.pseudo {
  &::after {
    content: '';
    position: absolute;
    border: 1px solid ;
    border-left: none;
    border-color: #c8c6c6;
    height: 100px;
    top: 20px;
    left: 100%;
  }
}
.隐藏子菜单 {
  > li > ul > li{
    color: #333;
  }
  ul {
    z-index: 999;  
    background-color: white;
  }
}

ul.bg {
  background-color: rgba(105,101,101,.6);
}

div.轮播图菜单 {
  
  > div.radio:has(> input:nth-child(1):checked) {
    ~ div.pics > img:nth-child(1) {
      z-index: 39;
    }
  }
  > div.radio:has(> input:nth-child(2):checked) {
    ~ div.pics > img:nth-child(2) {
      z-index: 39;
    }
  }
  > div.radio:has(> input:nth-child(3):checked) {
    ~ div.pics > img:nth-child(3) {
      z-index: 39;
    }
  }
  > div.radio:has(> input:nth-child(4):checked) {
    ~ div.pics > img:nth-child(4) {
      z-index: 39;
    }
  }
  > div.radio:has(> input:nth-child(5):checked) {
    ~ div.pics > img:nth-child(5) {
      z-index: 39;
    }
  }
  > div.radio:has(> input:nth-child(6):checked) {
    ~ div.pics > img:nth-child(6) {
      z-index: 39;
    }
  }
}

div.保障服务 {
  a::after {
    content: '';
    position: absolute;
    border: 1px solid #cfcdcb;
    border-bottom: none;
    width: 65px;
    top: 3px;
    left: 9px;
  }
  a::before {
    content: '';
    position: absolute;
    border: 1px solid #cfcdcb;
    border-left: none;
    height: 69px;
    left: 3px;
    top: 9px; 
  }
}
@keyframes 上移阴影 {
  from {
    transform: translatey(0px);
    box-shadow: none;
  }
  to {
    transform: translateY(5pz);
    box-shadow:  0 1px 2px -1px rgb(0 0 0 0.1);
  } 
}
.产品1 {
  > a:hover {
    transition: all 300ms;
    transform: translateY(-3px);
  }
}